.foodMenu {
  text-align: left;
  max-width: 425px;
  margin: 10px auto 0 auto;
}

.foodMenu .title {
  color: gray;
  font-size: 16px;
  margin: 15px 0 10px 10px;
}

.foodMenu .linkBtn {
  width: 100%;
  margin: 0 auto 0 auto;
}
